*{
    box-sizing: border-box;
}
.container-block{
    background-color: yellow;
    width: 700px;
    /* height: 600px; */ /* іноді фіксована висота може ускладнити роботу зі зміною контенту, тому з цим обережно*/
    padding: 100px 200px; /* це відступ всередині блоку */
    /* margin: 100px 200px; */ /* це відступ від краю сторінки, тобто ззовні */
    margin: 100px auto; /* значення auto лише для вирівнювання з лівої і правої сторони, зробить блок по центру, і при зміні області перегляду буде також центрувати блок */
    text-align: right; /* центрування тексту всередині блоку по горизонталі */
    border-radius: 50px; /* заокруглення кутів блоку */
}

/* box-sizing: content-box  - це правило,що задається браузером автоматично і означає, що width = width + padding */

.item{
    /* display: block; */ /* ця модель задається браузером автоматично і блоки розташовуються один під іншим, тобто вертикально */
    display: inline-block; /* блоки стануть один біля одного, але буде орієнтація на текст  */
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    border: 3px dotted blue;
}